.navbar {
    background-color: #8b6d6c;
    color: white;
}

.card {
    background-color: #eae6dd;
}

.row {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    /* background-color: #eae6dd; */
}

/* body {
    margin-left: 5%;
} */

/* .pokemon-list li {
    list-style: none;
    margin-left: none;
}

.pokemon-list {
    padding: 0;
}

.buttonStyle {
    width: 200px;
    padding: 15px;
    margin-bottom: 10px;
    text-align: left;
    border: none;
}

.buttonStyle:hover {
    background-color: #7f8cb8;
    color: white;
}

#modal-container {
    display: none;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    text-align: left;
    border-radius: 10px;
}

.modal h1 {
    margin-top: 10px;
    text-align: center;
}

.modal p {
    text-align: center;
    margin-bottom: 0;
}

.modal-image {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
} */

/* #modal-container.is-visible {
    display: block;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* to show it above other content */

/*to allow scrolling if the screen is not high enough*/

/* overflow: auto;
/* this is used to center the modal */

/* 
text-align: center;
} */

/* .modal-close {
    border-radius: 6px;
    border: 1px solid #7f8cb8;
    display: block;
    cursor: pointer;
    color: #7f8cb8;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 6px;
    text-decoration: none;
    float: right; */

/*  */

/* .modal-close:hover {
    color: white;
    background-color: #7f8cb8;
} */